<div class="container mt-5">
    <form class="row g-3 mt-3 w-50 m-auto" [formGroup]="registerform" (ngSubmit)="registeruser()">
        <h1 class="h1 text-center bg-success text-white p-3 m-3" >Register YourSelf</h1>
        <div class="col-md-6">
          <label for="inputEmail4" class="form-label">First Name</label>
          <input type="text" class="form-control" id="inputEmail4" formControlName="firstName">
        </div>
        <div class="col-md-6">
          <label for="inputPassword4" class="form-label">Last Name</label>
          <input type="text" class="form-control" id="inputPassword4" formControlName="lastName">
        </div>
        <div class="col-12">
          <label for="inputAddress" class="form-label">Email</label>
          <input type="email" class="form-control" id="inputAddress" formControlName="email">
        </div>
        <div class="col-12">
          <label for="inputAddress2" class="form-label">password</label>
          <input type="password" class="form-control" id="inputAddress2" formControlName="password">
        </div>
        
        <div class="col-12">
          <button type="submit" class="btn btn-primary w-100">Sign in</button>
        </div>
        <div class="col-12">
            <p class="float-end">Already have acount <a [routerLink]="['../signin']">Login</a></p>
          </div>
      </form>
</div>